@charset "UTF-8";

/* 回答はここに書いてね */
.q4wrappu{
  padding: 20px;
}
.q4-content-top{
  display: table;
  width: 100%;
  text-align: center;
}
.q4-pk{
  display: table-cell;
  width: 100px;
  background: #fbc8b8;
  padding: 20px;
}
.q4-pp{
  display: table-cell;
  background: #e0abd9;
  padding: 20px;
}
.q4-sb{
  display: table-cell;
  width: 100px;
  background: #b6d8ed;
  padding: 20px;
}
.q4-content-bottom{
  display: table;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.q4-yl{
  display: table-cell;
  background: #e5d352;
  padding: 20px;
}
.q4-rd{
  display: table-cell;
  background: #ec8f9a;
  padding: 20px;
}
.q4-gl{
  display: table-cell;
  background: #8fdcad;
  width: 500px;
  padding: 20px;
}

/* 回答はここに書いてね */
