@charset "UTF-8";

/* 回答はここに書いてね */
.q4wrappu{
  padding: 20px;
}
.q4-boxber{
  display: table;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.q4-boxber:first-child{
  margin-top: 0;
}

.q4-tabble{
  display: table-cell;
  padding: 20px;
}


.q4-pink{
  width: 100px;
  background: #fbc8b8;
}
.q4-purple{
  background: #e0abd9;
}
.q4-skybule{
  width: 100px;
  background: #b6d8ed;
}
.q4-yellow{
  background: #e5d352;
}
.q4-red{
  background: #ec8f9a;
}
.q4-green{
  background: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
